.dotnet/
.templateengine/
.vs/

**/bin/
**/obj/
tmp/
.agents/
tmp-build/

*.user
*.suo
*.cache
*.pdb
*.log
*.tmp
*.pidb
*.psess
*.vsp
*.vspx
*.sap

packages/
*.nupkg

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
